<p id="notice">Authentication successful for</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @user.image_url %>" alt="" height="42" width="42">
</p>

<%= link_to 'Back', users_path %>
